<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834337001061-i52bhn6nds17qcjfehjjncuibcc4t57k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834337001061-i52bhn6nds17qcjfehjjncuibcc4t57k</string>
	<key>API_KEY</key>
	<string>AIzaSyAKL4YuvOO2a7_PwFctedDRNqespAGjy7I</string>
	<key>GCM_SENDER_ID</key>
	<string>834337001061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexcollie.bustimetable10</string>
	<key>PROJECT_ID</key>
	<string>flutterlearning-81b68</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlearning-81b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834337001061:ios:40f9c120e49cc298cf808c</string>
</dict>
</plist>